<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Dear <%= @user.first_name %>,

  The book (<%= @book.title %>) you were waiting for is now available for checkout. Hurry up!
</p>
</body>
</html>