<h3>My Account</h3>
<p><%= "First Name : " + @admin.first_name %></p>
<p><%= "Last Name :  " + @admin.last_name %></p>
<p><%= "Email :      " + @admin.email %></p>

<p><%= link_to "Edit Profile", edit_admin_path(@admin) %></p>
